.git
.github
.gradle
build
out
target
bin

.idea
.vscode
*.iml

.DS_Store
**/.DS_Store
Thumbs.db

.env
.env.*
*.pem
*.key
*.p12
*.jks
*.keystore
application-local.properties
application-local.yml
application-local.yaml
application-secret.properties
application-secret.yml
application-secret.yaml

logs
*.log
*.log.*

HELP.md
README_IMG_SOURCE
