<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="FILTERED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
        <filter class="server.TripToN.global.config.ClientAbortExceptionLogFilter"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILTERED_CONSOLE"/>
    </root>
</configuration>
