<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="symbol-logo" class="symbol-logo-outside" onclick="toggleSidebar()">
    <img src="/image/sharedImage/symbolN.png" alt="심볼N">
</div>

<th:block th:fragment="sidebar">

<div class="sidebar" id="sidebar" onclick="event.target === this && closeSidebar()">
    <div class="sidebar-content">
        <div class="sidebar-menu">
            <div class="menu-item" data-delay="0" data-link="/">
                <img src="/image/sharedImage/button_home.png" alt="HOME">
            </div>
            <div class="menu-item" data-delay="200" data-link="/story">
                <img src="/image/sharedImage/button_story.png" alt="STORY">
            </div>
            <div class="menu-item" data-delay="300" data-link="/choose">
                <img src="/image/sharedImage/button_choose.png" alt="CHOOSE">
            </div>
            <div class="menu-item" data-delay="400" data-link="/result">
                <img src="/image/sharedImage/button_n.png" alt="N">
            </div>
        </div>
    </div>
</div>

</th:block>

</body>
</html>
